{% extends "base.html" %}
{% block title %}
    {{ page.title }} · OTIS Unit Wiki
{% endblock title %}
{% block content %}
    {% set units = load_data(path="units.json") %}
    {% set u = units.unit_groups | filter(attribute="slug", value=page.slug) | first %}
    <article class="unit subj-{{ page.extra.subject }}">
        <div class="unit-head">
            <h1 class="unit-title">{{ page.title }}</h1>
            <p class="edit-link">
                <a href="{{ config.extra.github_repo }}/edit/{{ config.extra.github_branch }}/content/{{ page.relative_path }}"
                   rel="nofollow">✎ Edit this page on GitHub</a>
            </p>
        </div>
        {% if page.extra.stub %}
            <div class="stub-notice">
                <strong>Look, it's a stub!</strong>
                If you have boring schoolwork to do,
                please procrastinate on it by
                <a href="{{ config.extra.github_repo }}/edit/{{ config.extra.github_branch }}/content/{{ page.relative_path }}"
                   rel="nofollow">expanding this stub instead</a>.
                <br />
                Or see the
                <a href="{{ get_url(path='@/info/contributing.md') }}">list of all stubs</a>.
            </div>
        {% endif %}
        {% if u.description %}
            <blockquote class="unit-quote">
                {{ u.description }}
            </blockquote>
        {% endif %}
        <aside class="infobox">
            <h2 class="infobox-title">{{ page.title }}</h2>
            <a class="infobox-image-link"
               href="{{ config.extra.gallery_base }}/webp/{{ page.slug }}.webp">
                <img class="infobox-image"
                     width="226"
                     height="226"
                     src="{{ config.extra.gallery_base }}/thumb-md/{{ page.slug }}.webp"
                     alt="{{ page.title }} artwork">
            </a>
            <table class="infobox-data">
                <tr>
                    <th>Name</th>
                    <td>{{ page.title }}</td>
                </tr>
                <tr>
                    <th>Art credits</th>
                    <td>{{ u.artist_name }}</td>
                </tr>
                <tr>
                    <th>Classification</th>
                    <td>{{ page.extra.classification }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>
                        <code>{{ page.slug }}</code>
                    </td>
                </tr>
                {% if u.versions %}
                    <tr>
                        <th>Versions</th>
                        <td>{{ u.versions | join(sep=", ") }}</td>
                    </tr>
                {% endif %}
                {% if u.num_students is defined %}
                    <tr>
                        <th>Participants</th>
                        <td>{{ u.num_students }}</td>
                    </tr>
                {% endif %}
                {% if u.num_submissions is defined %}
                    <tr>
                        <th>Submissions</th>
                        <td>{{ u.num_submissions }}</td>
                    </tr>
                {% endif %}
                {% if u.num_clubs is defined %}
                    <tr>
                        <th>♣ earned</th>
                        <td>{{ u.num_clubs }}</td>
                    </tr>
                {% endif %}
                {% if u.num_hearts is defined %}
                    <tr>
                        <th>♥ earned</th>
                        <td>{{ u.num_hearts | round }}</td>
                    </tr>
                {% endif %}
            </table>
        </aside>
        <div class="unit-body">{{ page.content | safe }}</div>
    </article>
{% endblock content %}
